[Desktop Entry]
Version = {version}
Type = Application
Name = Maestral
Icon = maestral
GenericName=File Synchroniser
Comment = Sync your files with Dropbox
TryExec = maestral_qt
Exec = maestral_qt
Hidden = false
Terminal = false
Categories = Network;FileTransfer;
